:root {
  --main-color: #1f2d5a;
  --secondary-color: #2f76db;
  --whitecolor: #fbfbfb;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fbfbfb;
  margin-bottom: 0;
}

body {
  background-color: black;
  padding-top: 100px;
}

.logo-image {
  width: 150px;
  justify-content: left;
}

.hero {
  display: flex;
}

.hero-container {
  margin-top: 10rem;
}

.hero h2 {
  color: white;
}

.navbar-gb {
  background-color: #1f2d5a !important;
}
