:root {
  --main-color: #1f2d5a;
  --secondary-color: #2f76db;
  --whitecolor: #fbfbfb;
}
/* main  */
*,
html,
body {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
}
p,
h2,
h1,
label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fbfbfb;
  margin-bottom: 0;
}

body {
  padding-top: 100px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1f2d5a, #667abc);
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 230px;
  background-color: #2f76db;
  color: white;
  margin-top: 10px;
  transition: background-color 0.2s;
}

/* hero section */
.logo-image {
  width: 150px;
  padding-left: 15px;
}

.clickme-logo {
  width: 500px;
}

.logo-a-clickme {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.hero {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.profile-photo {
  border-radius: 150px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.profile-photo-container {
  display: flex;
  justify-content: center;
}

.hero-text-container {
  display: flex;
  width: 600px;
  padding-top: 10px;
  padding-left: 10px;
}

.hero h2 {
  color: white;
}

.navbar-gb {
  background-color: transparent !important;
}

/* Hover effect */
.button:hover {
  background-color: #2257a0;
}

/* Active state */
.button:active {
  background-color: #1f2d5a;
  border-color: #1f2d5a;
}

/* media query */
@media (max-width: 600px) {
  .hero-text-container {
    width: 380px;
    text-align: center; /* Center-align hero text */
  }

  .profile-photo-container {
    margin-bottom: 1rem; /* Add some spacing between the profile photo and text */
  }
  .hero {
    margin-top: 4rem;
  }
}

/* contact section */
.contact {
  display: block;
  text-align: center;
}

.contact-h2 {
  text-align: center;
}

/* about me section */
.aboutme {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.test {
  padding-top: 50px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  background-color: #667abc;
  border-radius: 75px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.test:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.test:hover::before,
.test:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #fda8cf;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.test:hover:after {
  background: #f3ce5e;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
